body {
    background-color: lightblue;
}

h1 {
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #80ced6;
    padding: 20px;
    margin: 12px;
    border: 50px;
}

p {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 35px;
}

.container {
    font-family: 'Arial ',sans-serif;
    text-align: center;
    border: 2px solid rgb(90, 72, 72);
    margin: 62px auto;
    padding: 42px 92px;
    width: 50%;
    border-radius: 11px;
}

.form-group input {
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: block;
    width: 485px;
    padding: 1px;
    border: 2px solid rgb(126, 123, 123);
    margin: 11px auto;
    font-size: 20px;
    border-radius: 10px
}

.form-group label {
    background-color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: block;
    width: 485px;
    padding: 1px;
    border: 2px solid rgb(126, 123, 123);
    margin: 11px auto;
    font-size: 20px;
    border-radius: 10px
}

.form-group select {
    background-color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: block;
    width: 485px;
    padding: 1px;
    border: 2px solid rgb(126, 123, 123);
    margin: 11px auto;
    font-size: 20px;
    border-radius: 10px
}

.btn{
    font-family: 'Arial', sans-serif;
    margin: 0px 9px;
    padding: 1px 39px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #95a9bb;
    text-shadow: #363641;
}
